
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="~/Content/boots/bootstrap.min.js"></script>
    <script src="~/Content/boots/jquery.min.js"></script>
    <link href="~/Content/boots/Tree.css" rel="stylesheet" />
    <style>
    </style>
</head>
<body>
    <div class="col-lg-12">
        <div class="col-lg-2">
            <br />
            <div>
                <ul id="tree1">
                    <li>
                        <a href="#">TECH</a>

                        <ul>
                            <li>
                                @Html.ActionLink("Registration", "Register", "Register", null, new { @class = "page-scroll" })
                            </li>
                            <li>
                                Employees
                                <ul>
                                    <li>
                                        Reports
                                        <ul>
                                            <li>Emp Details</li>
                                            <li>Team Lead</li>
                                            <li>Department</li>
                                        </ul>
                                    </li>
                                    <li>
                                        @Html.ActionLink("Leave Request", "LeaveRequest", "Leave", null, new { @class = "page-scroll" })
                                    </li>
                                    @*<li>Leave Request</li>*@
                                </ul>
                            </li>
                            <li>Human Resources</li>
                        </ul>
                    </li>
                    <li>
                        XRP
                        <ul>
                            <li>Company Maintenance</li>
                            <li>
                                Employees
                                <ul>
                                    <li>
                                        Reports
                                        <ul>
                                            <li>Report1</li>
                                            <li>Report2</li>
                                            <li>Report3</li>
                                        </ul>
                                    </li>
                                    <li>Employee Maint.</li>
                                </ul>
                            </li>
                            <li>Human Resources</li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-lg-10">
            <div class="jumbotron" style="background-color:cornsilk">
                
                @RenderBody()
               

            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
   
    $.fn.extend({
        treed: function (o) {

            var openedClass = 'glyphicon-minus-sign';
            var closedClass = 'glyphicon-plus-sign';

            if (typeof o != 'undefined') {
                if (typeof o.openedClass != 'undefined') {
                    openedClass = o.openedClass;
                }
                if (typeof o.closedClass != 'undefined') {
                    closedClass = o.closedClass;
                }
            };

            //initialize each of the top levels
            var tree = $(this);
            tree.addClass("tree");
            tree.find('li').has("ul").each(function () {
                var branch = $(this); //li with children ul
                branch.prepend("<i class='indicator glyphicon " + closedClass + "'></i>");
                branch.addClass('branch');
                branch.on('click', function (e) {
                    if (this == e.target) {
                        var icon = $(this).children('i:first');
                        icon.toggleClass(openedClass + " " + closedClass);
                        $(this).children().children().toggle();
                    }
                })
                branch.children().children().toggle();
            });
            //fire event from the dynamically added icon
            tree.find('.branch .indicator').each(function () {
                $(this).on('click', function () {
                    $(this).closest('li').click();
                });
            });
            //fire event to open branch if the li contains an anchor instead of text
            tree.find('.branch>a').each(function () {
                $(this).on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
            //fire event to open branch if the li contains a button instead of text
            tree.find('.branch>button').each(function () {
                $(this).on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
        }
    });

    //Initialization of treeviews

    $('#tree1').treed();

    $('#tree1 .branch').each(function () {

        var icon = $(this).children('i:first');
        icon.toggleClass('glyphicon-minus-sign glyphicon-plus-sign');
        $(this).children().children().toggle();

    });

</script>
