
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SYSU</title>

</head>
<body>


    <div class="jumbotron text-center">
        <h1>SYSU</h1>
        <p>Information Technology</p>
    </div>
    <div class="container">

    </div>

</body>
</html>